body {
  background-color: white;
  background-image:url("image/wall2.png");
  background-size: cover;
  }



  .title {
    margin-top: 20px;
    margin-left: 80px;
    z-index: auto;
  }


.about{
    font-family: 'Noto Sans TC', sans-serif;
    font-size:30px;
    max-width: 800px;
    margin-left: 100px;
    color: #303fd8；
}


  h1 {
    font-family: 'Noto Sans TC', sans-serif;
    font-size:200px;
    max-width: 700px;
    margin-left: 100px;
    color: #303fd8；
    position: absolute;
}

h2 {
  font-family: 'Noto Sans TC', sans-serif;
  font-size:20px;
  max-width: 700px;
  margin-left: 100px;
  color: #303fd8；
}


/* NAVIGATION */
  nav.dms {
  margin-top: 30px;
  margin-left: 1350px;
  font-size: 50px;
  top: 0;
  position: fixed;
  z-index: initial;
  opacity:1;
  line-height: 0.1;
}
nav div a{
  opacity:0.8;
}
nav div a:hover{
  opacity:1;
}

.photo {
  margin-left: 90px;
  position: relative;
}
