body {
  background-color: white;
  background-image:url("image/beiabout.png");
  background-size: cover;
  }



  h1 {
    font-family: 'Noto Sans TC', sans-serif;
    margin-top: 2px;
    margin-left: 80px;
    z-index: auto;
    color:blue;
    position:fixed;
  }


.about{
    font-family: 'Noto Sans TC', sans-serif;
    font-size:  28px;
    max-width: 700px;
    margin-top: 80px;
    margin-left: 450px;
    color: #303fd8ï¼›
    line-height: 1.4;
}


.erhai{
left: 900px;
top: 400px;
position:fixed;
z-index: 0;
}



/* NAVIGATION */
  nav.dms {
  font-family: 'Noto Sans TC', sans-serif;
  margin-top: 50px;
  margin-left: 1250px;
  font-size: 40px;
  top: 0;
  position: fixed;
  z-index: 30;
  opacity:1;
  line-height: 1;
   width:500px;
   background-color: rgba(249,249,249,0)
}
nav div a{
  opacity:0.6;
  width: 300px;
}
nav div a:hover{
  opacity:1.5;
  width: 150px;
}

.dms{
  background-color: rgba(249,249,249,0.3);
  opacity: 1;
  overflow: hidden;

}
.dms a {
  float: right;
  color: blue;
  text-align: center;
  padding:35px 55px;
  text-decoration: none;
  font-size: 30px;
  border: 0.1px solid blue;
   border-radius: 50px;
}
.dms a:hover {
  background-color: rgba(249,249,249,0.6);
  color: blue;
  opacity: 0.6;
}

.famhis a:hover {
  border: 0.1px solid blue;
}
