body {
  background-color: white;
  background-image:url("image/beiabout.png");
  background-repeat: repeat-y;
  }


  .erhai{
  left: 900px;
  top: 400px;
  position:fixed;
  z-index: 0;
  }

  .intro {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 18px;
  margin-top: 70px;
  margin-left: 90px;
  line-height: 1.4;
  position: relative;
  z-index: 12;
  color: blue,0.8;
}

h1 {
    font-family: 'Noto Sans TC', sans-serif;
    margin-top: 2px;
    margin-left: 80px;
    z-index: auto;
    color:blue;
    position:fixed;
  }


.about{
    font-family: 'Noto Sans TC', sans-serif;
    font-size:  28px;
    max-width: 980px;
    margin-top: 80px;
    margin-left: 90px;
    color: #303fd8；
    line-height: 1.4;
}

h3 {
  color:blue;
  font-size: 20px;
}

span{
  vertical-align: middle;
}

.photo:hover{
    color: #424242;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
  transform: scale(1.27);
  -ms-transform: scale(1.27); /* IE 9 */
  -webkit-transform: scale(1.27); /* Safari and Chrome */

  body, html {
padding: 0;
margin: 0;
text-align: center;
}

/* Styles the thumbnail */

a.lightbox img {
height: 150px;
border: 3px solid white;
box-shadow: 0px 0px 8px rgba(0,0,0,.3);
margin: 94px 20px 20px 20px;
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
position: fixed;
top: -100%;
width: 100%;
background: rgba(0,0,0,.7);
width: 100%;
opacity: 0;
-webkit-transition: opacity .5s ease-in-out;
-moz-transition: opacity .5s ease-in-out;
-o-transition: opacity .5s ease-in-out;
transition: opacity .5s ease-in-out;
overflow: hidden;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {
margin: auto;
position: absolute;
top: 0;
left:0;
right:0;
bottom: 0;
max-height: 0%;
max-width: 0%;
border: 3px solid white;
box-shadow: 0px 0px 8px rgba(0,0,0,.3);
box-sizing: border-box;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

/* Styles the close link, adds the slide down transition */

a.lightbox-close {
display: block;
width:50px;
height:50px;
box-sizing: border-box;
background: white;
color: black;
text-decoration: none;
position: absolute;
top: -80px;
right: 0;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
content: "";
display: block;
height: 30px;
width: 1px;
background: black;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
content: "";
display: block;
height: 30px;
width: 1px;
background: black;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
-o-transform:rotate(-45deg);
transform:rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
opacity: 1;
top: 0;
bottom: 0;
}

.lightbox-target:target img {
max-height: 100%;
max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
top: 0px;
}


}
/* NAVIGATION */
  nav.dms {
  font-family: 'Noto Sans TC', sans-serif;
  margin-top: 50px;
  margin-left: 1230px;
  font-size: 50px;
  top: 0;
  position: fixed;
  z-index: 30;
  opacity:1;
  line-height: 1;
   width:530px;
   background-color: rgba(249,249,249,0)
}
nav div a{
  opacity:0.6;
  width: 400px;
}
nav div a:hover{
  opacity:1.5;
  width: 200px;
}

.dms{
  background-color: rgba(249,249,249,0.3);
  opacity: 1;
  overflow: hidden;

}
.dms a {
  float: right;
  color: blue;
  text-align: center;
  padding:42px 55px;
  text-decoration: none;
  font-size: 30px;
  border: 0.1px solid blue;
   border-radius: 50px;
}
.dms a:hover {
  background-color: rgba(249,249,249,0.6);
  color: blue;
  opacity: 0.6;
  font-size: 35px;
}

.famhis a:hover {
  border: 0.1px solid blue;
}
