body {
  background-color: white;
  background-image:url("image/beiabout.png");
  background-size: cover;
  }



  h1 {
    font-family: 'Noto Sans TC', sans-serif;
    margin-top: 20px;
    margin-left: 80px;
    z-index: auto;
    color:black;
    position:fixed;
  }


.about{
    font-family: 'Noto Sans TC', sans-serif;
    font-size:18px;
    max-width: 700px;
    margin-top: 150px;
    margin-left: 390px;
    color: #303fd8；
}


.erhai{
left: 900px;
top: 400px;
position:fixed;
z-index: 0;
}

h2 {
  font-family: 'Noto Sans TC', sans-serif;
  font-size:20px;
  max-width: 700px;
  margin-left: 100px;
  color: #303fd8；
}


/* NAVIGATION */
  nav.dms {  margin-top: 50px;
    margin-left: 1280px;
    font-size: 50px;
    top: 0;
    position: fixed;
    z-index: 30;
    opacity:1;
    line-height: 0.1;
}
nav div a{
  opacity:0.8;
}
nav div a:hover{
  opacity:1;
}

.photo {
  margin-left: 90px;
  position: relative;
}
