
body {
  background-color: white;
  background-image:url("image/gang.jpg");
  background-size: cover;
  }

  .erhai{
  left: 900px;
  top: 400px;
  position:fixed;
  z-index: 0;
  }

  .intro {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 18px;
  margin-top: 70px;
  margin-left: 90px;
  line-height: 1.4;
  position: relative;
  z-index: 12;
  color: white,0.8;
}

h1 {
    font-family: 'Noto Sans TC', sans-serif;
    margin-top: 2px;
    margin-left: 80px;
    z-index: auto;
    color:white;
    position:fixed;
  }


.about{
    font-family: 'Noto Sans TC', sans-serif;
    font-size:  28px;
    max-width: 980px;
    margin-top: 80px;
    margin-left: 90px;
    color: white；
    line-height: 1.4;
}
h2 {
  color:white;
  font-size: 28px;
}
h3 {
  color:blue;
  font-size: 20px;
}



/* NAVIGATION */
  nav.dms {
  font-family: 'Noto Sans TC', sans-serif;
  margin-top: 50px;
  margin-left: 1230px;
  font-size: 50px;
  top: 0;
  position: fixed;
  z-index: 30;
  opacity:1;
  line-height: 1;
   width:530px;
   background-color: rgba(249,249,249,0)
}
nav.dms div a{
  opacity:0.6;
  width: 400px;
}
nav.dms div a:hover{
  opacity:1.5;
  width: 200px;
}



.dms{
  background-color: rgba(249,249,249,0.3);
  opacity: 1;
  overflow: hidden;

}
.dms a {
  float: right;
  color: white;
  text-align: center;
  padding:42px 55px;
  text-decoration: none;
  font-size: 30px;
  border: 0.1px solid white;
   border-radius: 50px;
}
.dms a:hover {
  background-color: rgba(249,249,249,0.1);
  color: blue;
  opacity: 0.6;
  font-size: 35px;
  border: 0.1px solid white;
}
/* SECOND*/


.yy {
  margin-left: 200px;
  color: white;
  text-decoration:none;
  font-family: 'Noto Sans TC', sans-serif;
  z-index: 29;
  position: absolute;
  opacity:1;
  line-height: 1.2;
  width:600px;
  background-color: rgba(249,249,249,0)
  float:left;
}



.yy1{
  background-color: rgba(249,249,249,0.3);
  opacity: 1;
  overflow: hidden;
  float: right;
  color: blue;
  text-align: left;
  padding:35px 55px;
  text-decoration: none;
  font-size: 28px;
  border: 0.1px solid blue,0.;
   border-radius: 50px;
     width:545px;
}
.yy1:hover {
  background-color: rgba(249,249,249,0.6);
  color: blue;
  opacity: 0.6;
  font-size: 35px;
}


.yy2{
  background-color: rgba(0,249,0,0.02);
  opacity: 1;
  overflow: hidden;
  float: right;
  color: blue;
  text-align: left;
  padding:35px 55px;
  text-decoration: none;
  font-size: 28px;
  border: 0.1px solid blue,0.;
   border-radius: 50px;
     width:545px;
}
.yy2:hover {
  background-color: rgba(249,249,249,0.6);
  color: blue;
  opacity: 0.6;
  font-size: 35px;
}


.yy3{
  background-color: rgba(0,0,249,0.02);
  opacity: 1;
  overflow: hidden;
  float: right;
  color: blue;
  text-align: left;
  padding:35px 55px;
  text-decoration: none;
  font-size: 28px;
  border: 0.1px solid blue,0.;
   border-radius: 50px;
     width:545px;
}
.yy3:hover {
  background-color: rgba(249,249,249,0.6);
  color: blue;
  opacity: 0.6;
  font-size: 35px;
}


.yy4{
  background-color: rgba(249,249,249,0.3);
  opacity: 1;
  overflow: hidden;
  float: right;
  color: blue;
  text-align: left;
  padding:35px 55px;
  text-decoration: none;
  font-size: 28px;
  border: 0.1px solid blue,0.;
   border-radius: 50px;
     width:545px;
}
.yy4:hover {
  background-color: rgba(249,249,249,0.6);
  color: blue;
  opacity: 0.6;
  font-size: 35px;
}
