
body {
  background-color: white;
  background-image:url("image/wall2.png");
  background-size: cover;
  }


  .title {
    margin-top: 10px;
    margin-left: 50px;
    z-index: auto;
  }

  h1 {
  font-family:'Noto Sans';
  font-size: 30px;
  margin-top: 200px;
  margin-left: 110px;
  color:rgb(0, 107, 49);
}

div.exercises{
  font-family:'Noto Sans';
  font-size: 30px;
  margin-top: 10px;
  margin-left: 110px;
  color:rgb(0, 107, 49);
  z-index: 10;
  position: absolute;
}
/* NAVIGATION */
  nav.dms {
  margin-top: 50px;
  margin-left: 1200px;
  font-size: 50px;
  top: 0;
  position: fixed;
  z-index: initial;
  opacity:1;
  line-height: 0.1;
}
nav div a{
  opacity:0.6;
}
nav div a:hover{
  opacity:1.5;
}
