
body {
  background-color: white;
  background-image:url("image/wall3.png");
  background-size: cover;
  }

.cangshan{
left: 100px;
top: 170px;
position:fixed;
z-index: 0;
}
.cangshan a{
opacity: 1;
}
.cangshan a:hover{
opacity: 0.5;
}
.erhai{
left: 900px;
top: 430px;
position:fixed;
z-index: 0;
}

.title{
left: 40px;
z-index: 3;
position: relative;
}

  div.exercises{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 110px;
    color:rgb(0, 107, 49);
    z-index: 10;
    position: absolute;
  }

  .intro {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 18px;
  margin-top: 70px;
  margin-left: 90px;
  line-height: 1.4;
  position: relative;
  z-index: 12;
}

  h1 {
    font-family: 'Noto Sans TC', sans-serif;
  font-size: 50px;
  margin-top: 593px;
  margin-left: 130px;
  color:rgb(0, 107, 49);
}


/* NAVIGATION */
  nav.dms {
  font-family: 'Noto Sans TC', sans-serif;
  margin-top: 50px;
  margin-left: 1280px;
  font-size: 50px;
  top: 0;
  position: fixed;
  z-index: 30;
  opacity:1;
  line-height: 0.1;
   width:420px;
}
nav div a{
  opacity:0.6;
  width: 420px;
}
nav div a:hover{
  opacity:1.5;
  width: 520px;
}

.famhis{
  background-color: white;
  opacity: 1;
  overflow: hidden;

}
.famhis a {
  float: right;
  color: blue;
  text-align: center;
  padding:42px 55px;
  text-decoration: none;
  font-size: 30px;
  border: 2px solid blue;
   border-radius: 50px;
}
.famhis a:hover {
  background-color: green;
  color: white;
}

.famhis a:hover {
  border: 3px solid yellow;
}
